@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,700;1,800&family=Poppins:wght@400;600;700;800&display=swap');

*, *::after, *::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Poppins', sans-serif;
}

.page {
   
}

.container {
   padding: 0 23px; 
   margin: 0 auto;
   max-width: 1700px;
}

.center-text {
   padding-top: 15px;
   text-align: center;
}

.title {
   font-weight: 800;
   font-size: 66px;
}

.title-text {
   font-weight: 400;
   font-size: 34px;
   padding-top: 44px;
}

.text {
   font-weight: 300;
   font-size: 30px;
   padding-top: 36px;
}

.block-green {
   position: absolute;
   width: 140px;
   height: 138px;
   left: -1%;
   top: 11%;
   background: #E0FFB8;
   border-radius: 20px;
   z-index: -1;
   transform: rotate(34.26deg);
   position: absolute;
}
.block-red {
   position: absolute;
   width: 85px;
   height: 84px;
   left: 84%;
   top: 7%;
   background: #FF9E9E;
   border-radius: 20px;
   z-index: -1;
   transform: rotate(12.06deg);
}
.block-blue {
   position: absolute;
    width: 85px;
    height: 84px;
    left: 24%;
    top: 36%;
    background: #9ee0ff;
    border-radius: 20px;
    z-index: -1;
    transform: rotate(76.06deg);
}

.block-orange {
   position: absolute;
   width: 85px;
   height: 84px;
   left: 72%;
   top: 29%;
   background: #ffc29e;
   border-radius: 20px;
   z-index: -1;
   transform: rotate(46.06deg);
}

.line-black {
   margin-top: 26px;
   margin-bottom: 67px;
   border: 1px solid #000000;
}

.list-green {
   margin-top: 43px;
   padding: 0 23px; 
   margin: 0 auto;
   max-width: 1700px;
}
.list-yellow {
   margin-top: 43px;
   padding: 0 23px; 
   margin: 0 auto;
   max-width: 1700px;
}
.list-blue {
   margin-top: 43px;
   padding: 0 23px; 
   margin: 0 auto;
   max-width: 1700px;
}
.list__container-1 {
   background: #F1FFEB;
   padding: 67px 51px 66px 51px;
   border-radius: 20px;
   margin-bottom: 58px;
}

.list__container-2 {
   background: #FFFACD;
   padding: 67px 51px 66px 51px;
   border-radius: 20px;
   margin-bottom: 58px;
}

.list__container-3 {
   background: #E2F0FF;
   padding: 67px 51px 66px 51px;
   border-radius: 20px;
   margin-bottom: 56px;
}
.list__title{
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   font-size: 38px;
   padding-bottom: 54px;
}
.list__items {
}
.list__item {
   font-weight: 400;
   font-size: 26px;
   color: #000;
}
.list__item li {
   list-style: none;
   position: relative;
   padding: 0px 0px 0px 40px;
   margin: 0px 0px 37px 0px;
   transition: all 0.3s ease 0.6s;
}

.list__item li::before {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   content: "";
   background-color: #000;
   position: absolute;
   left: 18px;
   top: 12px;
}
.list__item li:last-child {
   margin: 0;
}

.buttons {
   padding-top: 52px;
   justify-content: center;
   display: flex;
}

.btn {
   text-decoration: none;
   position: relative;
   text-align: center;
   border-radius: 60px;
   width: 642px;
   color: #fff;
   padding: 30px 50px;
}

.btn-1 {
   background: #21CCCC;
   font-weight: 400;
   font-size: 32px;
   transition-duration: 0.5s;
   transition-property: all;
}

.btn-1:hover {
   background: #25b3b3;
   transition-duration: 0.5s;
   transition-property: all;
}

.footer {

}

.footer-items {
   display: flex;
   justify-content: center;
   gap: 5px;
}
.nav-item {
   font-weight: 300;
   font-size: 17px;
   color: #000;
}
.footer-line {
  border: 1px solid #000;
  margin-top: 26px;
  margin-bottom: 26px;
}
.text-muted {
  text-align: center;
  font-weight: 300;
  font-size: 17px;
}

.footer-nav__menu {

}

/* -------------------------------------Adaptiv */

@media (max-width: 900px) {
   .footer-items {
      display: flex;
      justify-content: center;
      gap: 7px;
      flex-wrap: wrap;
  }
}

@media (max-width: 561px) {
   .list__container-1 {
      background: #F1FFEB;
      padding: 56px 42px 66px 31px;
      border-radius: 20px;
      margin-bottom: 58px;
  }
   .list__container-2 {
      background: #FFFACD;
      padding: 56px 42px 66px 31px;
      border-radius: 20px;
      margin-bottom: 58px;
   }
   .list__container-3 {
      background: #E2F0FF;
      padding: 56px 42px 66px 31px;
      border-radius: 20px;
      margin-bottom: 58px;
   }
}

@media (max-width: 650px) {
   .block-blue {
      display: none;
   }
   .block-orange {
      display: none;
   }
   .block-red {
      display: none;
   }
   .block-green {
      display: none;
   }
}

@media (max-width: 540px) {
   .list__title {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 32px;
      padding-bottom: 54px;
   }
   .list__item {
      font-weight: 400;
      font-size: 22px;
      color: #000;
   }
}

@media (max-width: 390px) {
   .container {
      padding: 0 20px; 
      margin: 0 auto;
      max-width: 1700px;
   }

   .title {
      font-weight: 800;
      font-size: 35px;
   }
   .title-text {
      font-weight: 400;
      font-size: 26px;
   }
   .text {
      font-weight: 400;
      font-size: 20px;
   }

   .line-black {
      margin-top: 26px;
      margin-bottom: 176px;
      border: 1px solid #000000;
   }
/*----------------------------------------- */

  .block-red {
      position: absolute;
      width: 140px;
      height: 138px;
      left: 83%;
      top: 40%;
      background: #FF9E9E;
      border-radius: 20px;
      z-index: -1;
      transform: rotate(-40.94deg);
   }

/*----------------------------------------- */

  .list__title {
      font-weight: 600;
      font-size: 22px;
      font-family: 'Montserrat', sans-serif;
   }

  .list__container-1 {
      background: #F1FFEB;
      padding: 37px 22px 32px 21px;
      border-radius: 20px;
      margin-bottom: 58px;
   }
   .list__container-2 {
      background: #FFFACD;
      padding: 37px 22px 32px 21px;
      border-radius: 20px;
      margin-bottom: 58px;
   }
   .list__container-3 {
      background: #E2F0FF;
      padding: 37px 22px 32px 21px;
      border-radius: 20px;
      margin-bottom: 58px;
   }

   .list__item {
      font-weight: 400;
      font-size: 22px;
   }
}

@media (max-width: 375px) {
   .nav-item {
      font-weight: 300;
      font-size: 14px;
   }
    
}

@media (max-width: 365px) {
   .btn {
      text-decoration: none;
      position: relative;
      text-align: center;
      border-radius: 60px;
      width: 229px;
      color: #fff;
      padding: 22px 18px;
   }

   .btn-1 {
      background: #21CCCC;
      font-weight: 400;
      font-size: 25px;
   }
}
